@page
@model ApiChat.Web.Auth.Pages.PaddlePayModel
@{ 
    Layout = "_LayoutBack";
}

<div class="checkout-container"></div>

@{
}
<script type="text/javascript">
        function SetupPaddle(VendorPaddle) {
    Paddle.Setup({
        vendor: VendorPaddle
    });
}

    function OpenPaddle(ProductId, UserId, ProductName, SuccessUrl, Email) {
        Paddle.Checkout.open({
            product: ProductId,
            email: Email,
            passthrough: UserId + ':' + ProductName,
            allowQuantity: false,
            disableLogout: true,
            success: SuccessUrl,
            closeCallback: function (data) {
                console.log(data.eventData);
                history.back();
            },
        });
    }

        @if (Model.ProductId != 0) {
            @:SetupPaddle(@Model.VendorPaddle);
            @:OpenPaddle(@Model.ProductId, '@Model.UserId', '@Model.Product','@Model.ProfileUrl', '@Model.Email');
        }
</script>

