@page
@model ApiChat.Web.Auth.Pages.PaddlePayModel
@{ 
    Layout = "_LayoutBack";
}

<div class="checkout-container"></div>

@{
}
<script type="text/javascript">
        function SetupPaddle(VendorPaddle) {
    Paddle.Setup({
        vendor: VendorPaddle
    });
}

function OpenPaddle(ProductId, UserId, ProductName, SuccessUrl, Email) {
    Paddle.Checkout.open({
        method: 'inline',
        product: ProductId,
        email: Email,
        passthrough: UserId + ':' + ProductName,
        allowQuantity: false,
        disableLogout: true,
        successCallback: function (data) {
            var checkoutId = data.checkout.id;
            Paddle.Order.details(checkoutId, function (data) {
                console.log(data);
                window.location.href = SuccessUrl; // hack
            });
        },
        frameTarget: 'checkout-container', // The className of your checkout <div>
        frameInitialHeight: 416,
        frameStyle: 'width:100%; min-width:312px; background-color: transparent; border: none;'    // Please ensure the minimum width is kept at or above 286px with checkout padding disabled, or 312px with checkout padding enabled. See "General" section under "Branded Inline Checkout" below for more information on checkout padding.
    });
}

        @if (Model.ProductId != 0) {
            @:SetupPaddle(@Model.VendorPaddle);
            @:OpenPaddle(@Model.ProductId, '@Model.UserId', '@Model.Product','@Model.ProfileUrl', '@Model.Email');
        }
</script>

